In [1]:
import pandas as pd

In [106]:


def get_hauptsprache_kanton(year:str):
    df_hauptspr = pd.read_excel("variable_hauptsprache_pro_kanton/rohdaten/je-d-01.08.01.02.xlsx", sheet_name=year)

    df_hauptspr = df_hauptspr.iloc[4:35, [0,2,4,6,8,10,12,14,16,18,20,22]].replace("X", pd.NA)

    added = df_hauptspr.iloc[:,4:].sum(axis=1)

    df_hauptspr = df_hauptspr.drop(columns=df_hauptspr.columns[4:])

    df_hauptspr["andere"] = added

    df_hauptspr.set_index(df_hauptspr.columns[0], drop=True, inplace=True)

    df_hauptspr.columns = ["Deutsch", "Französisch", "Italienisch", "Andere"]

    df_hauptspr = df_hauptspr.transpose()

    return df_hauptspr

def get_geburtenrate_kanton():

    df_gebRate = pd.read_excel("variable_lebendgeburten_pro_jahr/rohdaten/su-d-01.04.01.01.08.xlsx", sheet_name="Total")

    df_gebRate.set_index(df_gebRate.columns[0], drop=True, inplace=True)

    df_gebRate.columns = df_gebRate.iloc[1,:].values.astype("int").astype("str")

    df_gebRate = df_gebRate.iloc[3:29,:]

    df_gebRate.columns.name = None
    df_gebRate.index.name = None

    return df_gebRate.transpose()

,Zürich,Bern,Luzern,Uri,Schwyz,Obwalden,Nidwalden,Glarus,Zug,Freiburg,...,St. Gallen,Graubünden,Aargau,Thurgau,Tessin,Waadt,Wallis,Neuenburg,Genf,Jura
1970,16281,13832,5213,624,1765,448,498,588,1208,3116,...,6927,2775,7668,3160,3747,6912,3838,2607,4564,1199