In [1]:
#montecarlo simulation für Einwanderungen in die Schweiz
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import matplotlib.patches as mpatches
import matplotlib.lines as mlines
import matplotlib.ticker as ticker

In [11]:
#import xlsx file
df = pd.read_excel('../Rohdaten/auswanderung.xlsx',sheet_name='su-d-01.05.09.01')

In [12]:
df.head()
#

,su-d-01.05.09.01,"Im Ausland niedergelassene Schweizerinnen und Schweizer 1 nach Wohnsitzstaat, 1993-2021",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,Wohnsitzstaat 2,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2012,2013,2014,2015,2016.0,2017 3,2018.0,2019.0,2020.0,2021.0
1,Total,504177,514883,527795,541302,552293,562813,572957,580396,591660,...,715710,732183,746885,761930,774923.0,751793,760233.0,770871.0,776296.0,787968.0
2,Europa 4,312619,318523,326256,334011,340663,346387,353236,358889,366848,...,442818,453162,462250,472404,482404.0,468877,476096.0,484257.0,490847.0,501633.0
3,EU-Staaten,283141,288533,294749,301312,307336,312968,319054,324256,331704,...,397753,406262,413564,421799,429124.0,417185,422401.0,428405.0,433749.0,442371.0
4,EFTA-Staaten,6290,6358,6471,6696,6366,5864,5886,5902,5860,...,6002,6135,6204,6269,6388.0,5652,6089.0,6397.0,6696.0,7200.0